<p>
  home works!
</p>

<button (click)="sendOffer(this.socket)">Send offer</button>
<button (click)="onOffer(this.socket)">new on offer</button>
<button (click)="endCall(this.socket)">End Call</button>
<button (click)="test()">Test</button>
<button (click)="readyToBattle()">readyToBattle</button>

<button (click)="onOfferTest()">onOfferTest</button>
<button (click)="sendOfferTest()">sendOfferTest</button>



<div class="row">
  <div class="col-lg-3">
    <h3>other peer</h3>
    <div id="video2Div">
        <!-- <video class="propio" id="video1" style="height:200px;width:200px;background-color:azure;"></video> -->

    </div>
    
    
  </div>
  <div class="col-lg-3">
    <h3>my video</h3>
    <div id="video1Div"></div>
  </div>

</div>

