<p>
  home works!
</p>

<button (click)="sendOffer()">Send offer</button>
<button (click)="onOffer()">new on offer</button>
<button (click)="endCall()">End Call</button>
<button (click)="test()">Test</button>


<div class="row">
  <div class="col-lg-3">
    <h3>other peer</h3>
    <div id="video2Div">
        <!-- <video class="propio" id="video1" style="height:200px;width:200px;background-color:azure;"></video> -->

    </div>
    
    
  </div>
  <div class="col-lg-3">
    <h3>my video</h3>
    <div id="video1Div"></div>
  </div>

</div>

